* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", serif;
}

html {
  scroll-behavior: smooth;
}

header {
  margin-bottom: 3em;
  max-width: 100%;
}
header nav {
  display: flex;
  justify-content: center;
  max-height: 68px;
}
header nav div:first-of-type {
  display: flex;
  width: 1200px;
  align-items: center;
  justify-content: space-between;
}
header nav div:first-of-type img {
  max-width: 165px;
}
header nav ul:first-of-type {
  color: #1E1E1E;
  display: flex;
  list-style: none;
  font-weight: bolder;
  text-transform: capitalize;
  max-width: 700px;
  text-align: center;
  font-size: x-small;
}
header nav ul:first-of-type li {
  padding: 2em;
}
header #test {
  background-image: none;
}
header #background-img {
  height: 700px;
}
header h1 {
  position: absolute;
  top: 340px;
  text-align: center;
  max-width: 1200px;
  max-height: 156px;
  color: #FFFFFF;
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  font-weight: bold;
  font-size: 2.7em;
  padding-left: 95px;
}
header #scroll-down {
  position: relative;
  width: fit-content;
  margin-left: 50%;
  color: #FFFFFF;
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  text-decoration: none;
  bottom: 100px;
}
header #scroll-down:hover {
  cursor: pointer;
  color: rgb(4, 53, 143);
}

@media screen and (max-width: 1024px) {
  header {
    background-color: yellow;
  }
  header nav div:first-of-type {
    flex-direction: column;
  }
  header nav div:first-of-type ul {
    border: dashed;
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  header {
    background-color: rgb(0, 255, 106);
  }
}
@media screen and (max-width: 599px) {
  header {
    background-color: rgb(103, 66, 197);
  }
}
@font-face {
  font-family: "Arial Rounded MT Bold";
  src: url("src/fonts/arialroundedmtbold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h2 {
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  color: #16213D;
  text-transform: uppercase;
  font-weight: bold;
  margin: 15px 0;
  margin-top: 0;
  font-size: 2em;
}

main p {
  margin: 20px 0;
}
main .width {
  max-width: 1200px;
  margin: 0 auto;
}
main section {
  margin: 130px 0;
}
main .red-btn {
  background-color: #DD4546;
  color: #FFFFFF;
  padding: 8px 24px;
  border-radius: 16px;
  font-weight: 600;
}
main section:first-of-type {
  max-height: 350px;
}
main section:first-of-type div:first-of-type {
  display: flex;
  justify-content: space-between;
}
main section:first-of-type div:first-of-type #left-side {
  display: flex;
  flex-direction: column;
  max-width: 550px;
}
main section:first-of-type div:first-of-type #left-side p:last-of-type {
  font-weight: bold;
  font-size: 1.23em;
}
main section:first-of-type div:first-of-type #left-side button {
  max-width: 130px;
}
main section:first-of-type img {
  max-width: 550px;
  object-fit: fill;
}
main section:nth-of-type(2) #expertise {
  max-height: 170px;
  margin-top: 50px;
}
main section:nth-of-type(2) #blue-bloc {
  display: flex;
  width: 100%;
  margin: 80px 0;
  margin-top: 100px;
  max-height: 400px;
}
main section:nth-of-type(2) #blue-bloc img {
  width: 50%;
}
main section:nth-of-type(2) #blue-bloc #right-side {
  background-color: #2E4480;
  color: #FFFFFF;
  width: 50%;
  padding: 80px;
}
main section:nth-of-type(2) #blue-bloc #right-side h3, main section:nth-of-type(2) #blue-bloc #right-side p:last-of-type {
  text-transform: uppercase;
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
}
main section:nth-of-type(2) #blue-bloc #right-side p:last-of-type {
  text-decoration: underline;
}
main section:nth-of-type(2) #blue-bloc #right-side ul {
  padding-left: 35px;
}
main section:nth-of-type(2) #blue-bloc #right-side ul li {
  margin: 15px 0;
}
main section:nth-of-type(2) #blue-bloc #right-side ul li:first-letter {
  text-transform: capitalize;
}
main section:nth-of-type(3) {
  margin-bottom: 50px;
}
main section:nth-of-type(3) div {
  display: flex;
  justify-content: space-evenly;
}
main section:nth-of-type(3) div article {
  background-color: #2E4480;
  border-radius: 5px;
  width: 30%;
  align-items: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  max-height: 234px;
  text-align: center;
  padding: 10px;
}
main section:nth-of-type(3) div article span {
  text-transform: uppercase;
}
main section:nth-of-type(3) div article p:first-of-type {
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  height: 46px;
}
main section:nth-of-type(3) div article hr {
  border-color: #DD4546;
  border-style: double;
  width: 250px;
}
main section:nth-of-type(3) div article:nth-of-type(2) p:nth-of-type(2) {
  margin-bottom: 60px;
}
main section:last-of-type {
  max-width: 1200px;
  max-height: 450px;
  padding: 0 20px;
}
main section:last-of-type form {
  display: flex;
  flex-direction: column;
}
main section:last-of-type form a {
  color: #DD4546;
  text-decoration: none;
}
main section:last-of-type form a:hover {
  font-size: 1.2em;
  font-weight: bold;
}
main section:last-of-type form #formulaire {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}
main section:last-of-type form #formulaire #left-input {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 10px;
}
main section:last-of-type form #formulaire #left-input input {
  margin: 10px 0;
  border-radius: 3px;
  height: 36px;
}
main section:last-of-type form #formulaire #left-input input:first-of-type {
  margin-top: 0;
}
main section:last-of-type form #formulaire #left-input #concern-select {
  width: 100%;
  border-radius: 3px;
  height: 36px;
}
main section:last-of-type form textarea {
  width: 50%;
  border-radius: 7px;
}
main section:last-of-type form #sub-btn {
  max-width: 100%;
  margin-top: 25px;
  background-color: #16213D;
  color: #FFFFFF;
  border-radius: 3px;
  height: 36px;
}

@media screen and (max-width: 1024px) {
  main {
    background-color: yellow;
  }
}
@media screen and (max-width: 768px) {
  main {
    background-color: rgb(0, 255, 106);
  }
}
@media screen and (max-width: 599px) {
  main {
    background-color: rgb(103, 66, 197);
  }
}
footer {
  background-color: #3C5DA8;
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 284px;
  margin-top: 110px;
}
footer div {
  margin: 0 5px;
}
footer #principal-footer {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 224px;
  margin: 35px auto;
  justify-content: space-evenly;
  margin-top: 40px;
}
footer #principal-footer div:first-of-type {
  max-width: 300px;
  max-height: 110px;
}
footer #principal-footer div:first-of-type img {
  margin-bottom: 10px;
}
footer #principal-footer div:first-of-type p:first-of-type {
  height: 100px;
  text-align: left;
}
footer #principal-footer #ul-block {
  width: 740px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer #principal-footer .titre {
  width: max-content;
}
footer #principal-footer .titre h3 {
  text-transform: capitalize;
  font-size: medium;
  height: 1.25em;
}
footer #principal-footer ul {
  justify-content: center;
}
footer #principal-footer ul li {
  text-transform: capitalize;
  margin: 7px 0;
}
footer #principal-footer ul li img {
  height: 25px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: brown;
  font-weight: bolder;
}
footer ul {
  list-style: none;
}
footer #bottom {
  height: 60px;
  text-align: center;
  font-weight: medium;
  border-top: white solid 2px;
  padding-top: 10px;
}

@media screen and (max-width: 1024px) {
  footer {
    background-color: yellow;
  }
}
@media screen and (max-width: 768px) {
  footer {
    background-color: rgb(0, 255, 106);
  }
}
@media screen and (max-width: 599px) {
  footer {
    background-color: rgb(103, 66, 197);
  }
}

/*# sourceMappingURL=style.css.map */
